



<div style="text-align:center;">
    <h1 >Menu</h1>

  
<input  style="width: 820px" type="button" value="Add Page" onclick="location.href='@Url.Action("Add")'" />
<input  style="width: 820px" type="button" value="Delete Page" onclick="location.href='@Url.Action("Delete")'" />
<input  style="width: 820px" type="button" value="All producs" onclick="location.href='@Url.Action("All")'" />
</div>


<style>
body{
    background:#023047;
}
   input[type=button]{
        background:orange;
        padding:20px;
        margin-top:40px;
        border-radius: 12px;
    }
    h1{
        color:orange;
        padding-top:150px;
        font-family: Arial, Helvetica, sans-serif;
    }

</style>